*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    height: 100vh;
} */
body{
     width: 100vw; 
    height: 100vh;
    position: relative;
}
.container{
    top: 30%;
    right: 30%;
    position: absolute;
}
.eng{
    top: -10%;
    right: 90%;
}

.lang{
    position: absolute;
}
.head{
    position: absolute;
    top: -33%;
    left: 33%;
}
.chinese{
    top: -10%;
    left: 90%;
    width: 40%;
} 
.ali{
    margin-left:30px;
    color: blue;
}
.french{
    bottom: 70%;
    right: 110%;
}
.deut{
    bottom: 70%;
    left: 110%;
}
.esp{
bottom: 50%;
right: 115%;
}
.fran{
  bottom: 50%;
  left: 120%;
}
.it{
bottom: 25%;
right: 110%;
}
.un{
bottom: 25%;
left: 110%;
width: 40%;
}
.pot{
   bottom: 0;
   right: 80%;
}
.u2{
bottom: 0;
}
.box{
    display: flex;
    position: absolute;
    top: 100%;
    right: 35%;
}
.box input{
    width: 350px;
    height: 30px;
}
.box i{
    background-color: blue;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.btn{
    display: flex;
    position: absolute;
    top: 110%;
    right: 35%;
    width: 350px;
    color: blue;
}
.con2{
    height: 30%;
    width: 45%;
}
.con2 img{
    width: 45px;
    height: 45px;
}
.sip1{
    display: flex;
    position: absolute;
    top: 120%;
    right: 65%;
}
.sip2{
    display: flex;
    position: absolute;
    top: 145%;
    right: 69%;
}
.sip4{
    display: flex;
    position: absolute;
    top: 170%;
    right: 76%;
    background-color: black;
    color: white;
    width: 150px;
}
.sip5{
    display: flex;
    position: absolute;
    top: 170%;
    right: 64%;
    background-color: black;
    color: white;
}
/* .con3{
    position: absolute;
    top: 120%;
    right: 47%;
    column-gap: 20px;
} */
 /* .con3 sip{
display: flex;
position: absolute;
 } */
 .sip6{
    top: 120%;
    right: 47%;
    display: flex;
    position: absolute;
 }
 .sip7{
    position: absolute;
    display: flex;
    top: 137%;
    right: 50%;
 }
 .sip8{
    display: flex;
    position: absolute;
    top: 153%;
    right: 46%;
 }
 .sip9{
    position: absolute;
    display: flex;
    top: 170%;
    right: 48%;
 }
 .sip10{
    position: absolute;
    display: flex;
    top: 185%;
    right: 44%;
 }
 .con3 img{
    height: 50px;
    width: 50px;
 }
